
<div  id="app-details">
  <ngb-tabset>
    <ngb-tab>
        <ng-template ngbTabTitle>APS Charges</ng-template>
        <ng-template ngbTabContent>
          <app-details></app-details>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Exception</ng-template>
        <ng-template ngbTabContent>
          <p>Exception</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab>
        <ng-template ngbTabTitle>Details</ng-template>
        <ng-template ngbTabContent>
          <p>Details</p>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle>Dashboard</ng-template>
        <ng-template ngbTabContent>
          <p>Dashboard</p>
        </ng-template>
    </ngb-tab>   
  </ngb-tabset>
</div>