
<app-city></app-city>
<!-- <div #panel class="some-class">
    <footer class="my-header" appFooterfix id="footertest"> footer btn </footer>
    <button class="scroll" [appScroll]="'welcome1'" >Move</button>

  <div id="welcome0" [style.width]="width"> box-1</div>
  <button class="scroll" [appScroll]="'welcome2'" >Move</button>
  <div id="welcome1"> box-2</div>

  <section id="footerBtn" class="test" appFooterfix> footer btn </section>
  <div id="welcome2"> box-3</div>


</div> -->

 <!-- <div class="box">

  <h1> welcome </h1>
 </div>

 <style>
   @media(max-height:768px){
     .footerfix{
       position: absolute;
       width:100%;
       bottom: 0px;
     }
   }
 </style>  -->